

/* css variable is here */
:root {
    --button-color: #E02C6D;
    --primary-font-size: 1.2rem;
    --para-font-size: 1rem;
    --bold-font: 600;
    --boler-font: 700;
    --primary-font-color: #3A3A3A;

}
/* css variable is here */


/* common style is here............ */

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.primary_btn {
    background-color: var(--button-color);
    padding: 10px 30px;
    border: none;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 100px;
}


/* common style is here............ */



/* header styling start from here........... */
header {
    padding: 0 150px;
}

nav {
    display: grid;
    grid-template-columns: 15fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 60px 0px 10px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu_icon {
    display: none;
}

.nav_container ul {
    display: flex;
    gap: 33px;
}

.nav_container ul li {
    list-style: none;
}

.nav_container ul li a {
    text-decoration: none;
    font-weight: var(--bold-font);
    color: black;
}

.search {
    font-size: 25px;
}

.cart_btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    padding: 0;
    color: #E02C6D;
}

.head_text {
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
}

.banner_container .banner_main_part {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: bottom right;
}

.banner_text_part .banner_title {
    font-size: 3rem;
}

.banner_text_part .banner_description {
    font-weight: var(--bold-font);
    margin: 10px 0 20px;
}

.banner_sponser_part {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-image: linear-gradient(to right, #f3f3f3, #a7a7a7, #f3f3f3);
    border-image-slice: 1;
      
}
/* header styling start from here........... */


/* main part style adding start from here........................ */
.popular_collection_section {
    margin-top: 100px;
    padding: 0 180px;
}

.popular_collection_title {
    text-align: center;
    font-size: 2rem;
}

.items_container {
    margin-top: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.item {
    padding: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.item img {
    width: 100%;
}

.item h2 {
    font-weight: 500;
    font-size: 1.8rem;
    padding: 7px 0;
}

.item h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0px 0 7px;
}

.product_deatils {
    font-size: 15px;
    margin-top: 7px;
}

.review {
    font-size: 12px;
    color: #FB8200;
}

.review .re_point {
    font-weight: 500;
    font-size: 15px;
    color: black;
}

.see_more a {
    margin-top: 50px;
    float: right;
    text-decoration: none;
    color: #E02C6D;
    font-weight: 600;
    font-size: 17px;
}

.featured_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px;
    gap: 100px;
    margin-top: 60px;
}

.featured_product .featured_img img{
    height: 100%;
}

.featured_product .featured_text .featured_title {
    font-size: 2.1rem;
    margin-bottom: 10px;
}

.featured_description {
    margin: 20px 0;
    line-height: 30px;
    color: #6C6C6C;
}
/* main part style adding start from here........................ */


/* footer section style adding start from here */
footer {
    margin-top: 70px;
    width: 100vw;
    color: white;
    text-align: center;
    padding: 100px 0;
    background-image: url("./images/wave.svg");
    background-color: #0A0826;
    background-position: bottom center;
    background-origin: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer_title {
    font-size: 1.7rem;
    margin: 15px 0;
}

.copyright_txt {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}

.footer_icons {
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    gap: 25px;
}
/* footer section style adding start from here */


/* responsive code for small device .......................... */
@media screen and (max-width: 576px) {

    * {
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
        width: 100vw;
    }

    header {
        padding: 0px 25px;
    }

    nav {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 15fr 1fr;
        gap: 5px;
        padding: 0;
    }

    ul li {
        display: none;
    }

    .menu_icon {
        font-size: 27px;
        display: block;
    }

    .head_text {
        font-size: 1rem;
    }

    .popular_collection_section,
    .featured_product {
        padding: 0px 25px;
    }

    .banner_container .banner_main_part {
        margin-top: 30px;
        flex-direction: column-reverse;
        background-position: top center;
        background-position-y: 10%;
        background-size: 84%;
    }


    .banner_main_part .banner_img_part {
        text-align: center;
    }

    .banner_main_part .banner_img_part img {
        width: 80%;
    }

    footer {
        width: 100vw;
    }

    .banner_main_part .banner_text_part .banner_title {
        font-size: 2.4rem;
        text-align: center;
        margin-top: 60px;
    }

    .banner_main_part .banner_text_part {
        text-align: center;
    }

    .banner_container .banner_sponser_part {
        padding: 20px 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 40px;
    }

    .banner_container .banner_sponser_part img{
        width: 15%;
    }

    .popular_collection_section {
        margin-top: 50px;
    }

    .items_container {
        grid-template-columns: 1fr;
    }

    .featured_product {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .featured_product .featured_img img {
        width: 100%;
    }


}
/* responsive code for small device .......................... */

